*{
    padding: 0;
    margin: 0;
    
}

body{
    background-image: url(imgs/original.jpg);
    background-repeat: no-repeat;
}

h1{
    color: white;
    position: absolute;
    margin-top: 50vh;
}